<header
  class="w-full h-[15vh] bg-gradient-to-t from-blue-800 to-sky-500 flex flex-row justify-around items-center"
>
  <img
    src="/Logo.png"
    alt="Lost & Found logo"
    class="w-[100px] h-2/3 rounded-full bg-white p-1"
  />
  <nav class="w-1/3 h-2/3 flex flex-row items-center justify-center">
    <!-- <ul class="flex flex-row justify-evenly items-center w-full h-full">
      <li class="w-1/3">
                <a routerLink="/login">

        <button class="bg-white p-2 rounded-full w-full font-bold hover:scale-125 transition ease-in-out">
          Login
        </button></a>
      </li>
      <li class="w-1/3">
        <a routerLink="/register">
          <button class="bg-black p-2 rounded-full w-full font-bold text-white hover:scale-125 transition ease-in-out">
            Register
          </button></a
        >
      </li>
    </ul> -->
    <button
      [matMenuTriggerFor]="menu"
      class="w-12 h-12 bg-white rounded-full flex items-center justify-center shadow-lg"
    >
      <mat-icon class="text-white text-3xl">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="flex flex-col items-center px-4">
      @if (isLoggedIn(); as logged) {
      <button mat-menu-item routerLink="/listings">Listings</button>
      <button mat-menu-item routerLink="/messages">Messages</button>
      <button mat-menu-item routerLink="/profile">Profile</button>
      @if (isAdmin()) {
      <button mat-menu-item routerLink="/admin">Admin</button>
      }
      <button
        (click)="logout()"
        class="bg-red-500 w-full text-white text-center p-2 rounded-full"
      >
        Logout
      </button>
      } @else {
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item routerLink="/register">Register</button>
      }
    </mat-menu>
  </nav>
</header>
