<main
  class="min-h-screen max-h-fit flex flex-col items-center w-full justify-evenly gap-10"
>
  <h1 class="text-4xl font-bold mt-10 text-center">Listings</h1>
  <button
    class="m-auto bg-blue-500 rounded-full p-3 text-white font-bold"
    (click)="createMode = true"
  >
    Create listing +
  </button>
  @if(createMode){
  <app-listing-modal (cancel)="createMode = false"></app-listing-modal>
  } @if (listings().length === 0) {
  <p class="text-gray-400 italic">No listings found.</p>
  } @else { @for (listing of listings(); track listing.id) {
  <app-listing-cards [listing]="listing" [createMessage]="createMessage"   (onArchived)="handleArchived($event)"
/>
  }}
</main>
