<main
  class="h-[400px] w-[300px] flex flex-col justify-center items-center m-auto"
>
  @if (isOwner()) {
  <div class="w-full flex flex-row justify-end items-center gap-2 mb-2">
    <button
      class="p-2 rounded-full w-10 h-10 bg-orange-400 text-white"
      (click)="onEditClick()"
    >
      <mat-icon fontIcon="edit"></mat-icon>
    </button>
    <button
      class="p-2 w-10 h-10 rounded-full bg-red-600 text-white"
      (click)="archiveListing()"
    >
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
  }
  <article
    class="h-full bg-white w-full rounded-2xl shadow-2xl shadow-black flex flex-col justify-between items-center"
  >
    <img
      [src]="'http://localhost:8080/' + listing.photo"
      class="rounded-t-2xl h-1/2 w-full"
    />
    <div
      class="h-1/2 flex flex-col items-start justify-evenly gap-2 w-full p-3 overflow-auto rounded-b-2xl"
    >
      <h2 class="text-2xl">{{ listing.title }}</h2>
      <p class="text-sm text-justify">{{ listing.description }}</p>
      <button
        class="p-3 bg-blue-500 rounded-full text-white font-bold mb-2 self-end"
        (click)="sendMessage.emit(listing)"
      >
        Send Message
      </button>
    </div>
  </article>
  @if (createMessage){
  <app-message-modal
    [listing]="selectedListingForMessage!"
    (cancel)="closeMessageModal()"
  ></app-message-modal>
  }
</main>
