<main
  class="h-screen flex flex-col justify-center gap-10 items-center w-full p-4 m-auto"
>
  <h1 class="text-5xl font-bold">Lost & Found</h1>
  <p>
    Declare lost or found objects, organize with other users to retrieve them
    and manage discussions !
  </p>
  <a routerLink="/register">
    <button
      class="bg-gradient-to-t from-blue-800 to-sky-500 text-white p-4 rounded-full font-bold shadow-black shadow-xs hover:scale-125 transition ease-in-out"
    >
      Get started
    </button></a
  >
</main>
