@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: #22c55e; /* Tailwind: green-500 */
  color: white;
  margin-top: 100px;
  width: 50%;
}

.snackbar-error {
  background-color: #ef4444; /* Tailwind: red-500 */
  color: white;
}

.snackbar-warning {
  background-color: #facc15; /* Tailwind: yellow-400 */
  color: black;
}
