@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: #22c55e; 
  color: white;
 
}

.snackbar-error {
  background-color: #ef4444; 
  color: white;
}

.snackbar-warning {
  background-color: #facc15; 
  color: black;
}
